.projects {
  display: flex;
  flex-direction: column;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
}

.left-half {
  flex: 1;
}

.right-half {
  flex: 2;
}

.projects-banner h2 {
  height: 100%;
  font-size: 6.5rem;
  padding: 50px;
}

.projects-info {
  padding: 10rem;
}

/* .projects-info p {
  padding: 10rem;
} */

.project-links a {
  text-decoration: none;
  color: black;
}
