.homepage-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.header {
  height: 80rem;
  min-width: 80%;
  background-image: url("C:\Users\Carlos\Desktop\Personal\Personal-Site\src\assets\img\bye.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header-content {
  flex-direction: row;
  justify-content: center;
  display: flex;
  position: relative;
  height: 80%;
}

.contact-container {
  padding-top: 250px;
}

#spline {
  max-width: 100%;
  max-height: 90%;
  position: absolute;
}
