.homepage-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.header {
  /* background-color: #4801ff; */
  height: 84rem;
  background-image: url("../../img/plants.png");
  background-size: 179rem;
}

.header-content {
  flex-direction: row;
  display: flex;
  justify-content: center;
}

#foam {
  height: 800px;
}

.header-content {
  justify-content: center;
}
