.homepage-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.header {
  height: 60rem;
  background-image: url("../../img/bye.jpg");
  background-size: 179rem;
}

.header-content {
  flex-direction: row;
  display: flex;
  position: relative;

  height: 100%;
}

#spline {
  max-width: 100%;
  max-height: 90%;
  position: absolute;
}

.header-content {
  flex-direction: row;
  justify-content: center;
}
