.items-container {
  height: 34vh;
  width: 30%;
  margin: 20px 10px;
  border: 2px solid rgb(243, 242, 242);
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
}

.p-circle {
  display: inline-block;
}

.card-browser {
  display: flex;
  height: 20px;
  background-color: rgb(243, 242, 242);
}

.p-img {
  width: 100%;
}
.card-container {
}

.name-path {
  font-size: 12px;
  width: 80%;
}
