* {
  margin-top: 0;
  padding: 0;
}

.flexbox-container {
  display: flex;
  justify-content: center;
}

.main-container {
  margin-top: 120px;
}

#foam-img {
  height: 500px;
}

.main-text {
  display: inline-block;
}

.main-sub {
  margin-top: 50px;
}

#api-artwork {
  height: 200px;
  margin: 20px;
}
