.navbar-container {
  display: flex;
}

.navbar-header {
  display: flex;
  padding: 3rem;
  justify-content: flex-start;
}

.left-half {
  flex: 1;
}

.right-half {
  flex: 1;
}

ul {
  color: black;
  list-style: none;
  display: inline-flex;
}

li {
  padding: 3rem;
  padding-left: 2rem;
  font-size: 16px;
}

.nav-buttons a {
  text-decoration: none;
  font-weight: bolder;
  color: white;
  /* background-color: black; */
}

.nav-buttons a:hover {
  text-decoration: line-through;
  text-decoration-color: black;
  text-decoration-thickness: 30%;
}
.nav-buttons {
  display: flex;
  padding: 0.7rem;
  justify-content: flex-end;
}

#text {
  color: white;
  font-size: 18px;
  padding-left: 40px;
}
